$space-large: 2.5rem;
$title-color: #555;


body {
  background-color: #FFDB74;
}

input[type=search] {
  box-shadow: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #e6e6e6;
  padding: .5rem;
}

small {
  padding: 0 1rem;
}

.page-title {
  color: $title-color;
  margin: $space-large;
}

.list {
  list-style: none;
  margin: 0;
}
